@page
@model BadmintonCenter.Presentation.Pages.Customer.History.DetailModel
@{
    ViewData["Title"] = "Booking Detail";
}

<div class="container">
    <h1 class="text-center mb-3">Detail</h1>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Court</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Hours</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BookingDetails.Any())
            {
                @foreach (var item in Model.BookingDetails)
                {
                    <tr>
                        <td>@item.Court.CourtName</td>
                        <td>@item.TimeSlot.StartTime</td>
                        <td>@item.TimeSlot.EndTime</td>
                        <td>@item.TimeSlot.Time</td>
                        <td>@Math.Truncate((decimal)@item.TimeSlot.Price) VND</td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="4"><h5 class="text-danger">Invalid Booking!!</h5></td>
                </tr>
            }
        </tbody>
    </table>
    <h2 class="text-center">Total Price: @Math.Truncate((decimal)Model.Booking.TotalPrice) VND</h2>
    <div class="text-center">
        <a asp-page="Index" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>

